# copy the contents of this file to a .env file, and source it before running the app

export OAUTH_ISSUER=https://my-okta-host.com/oauth2/default # your Okta issuer url
export OAUTH_AUTH_URL=$OAUTH_ISSUER/v1/authorize
export OAUTH_TOKEN_URL=$OAUTH_ISSUER/v1/token
export OAUTH_USERINFO_URL=$OAUTH_ISSUER/v1/userinfo
export OAUTH_CLIENT_ID= # your Okta application client ID
export OAUTH_CLIENT_SECRET= # your Okta application client secret
export OAUTH_CALLBACK_URL=http://localhost:3000/authorization-code/callback
